<h2>Orçamento Seguro</h2>

<!-- Formulário Segurado -->
<div class='formulario'>
  <h4>Dados Segurado</h4>
  <form>
    Nome:<br>
    <input type="text" name="firstname"><br>
    CPF:<br>
    <input type="text" name="lastname"><br>
    Nacionalidade:<br>
    <input type="text" name="lastname"><br>
    Profissão:<br>
    <input type="text" name="lastname"><br>
    Telefone:<br>
    <input type="text" name="lastname"><br>
    Endereço:<br>
    <input type="text" name="lastname"><br>
    Email:<br>
    <input type="text" name="lastname"><br>
    Data de Nascimento:<br>
    <input type="date" name="bday"><br>
    <input type="radio" name="gender" value="male" checked> Masculino
    <input type="radio" name="gender" value="female"> Feminino<br>
  </form> 
</div>

<!-- Formulário Veículo -->
<div class='formulario'>
  <h4>Dados Veículo</h4>
  <form>
    Código (FIPE):<br>
    <select>
      <option value="123456">Volvo - (123456)</option>
      <option value="789012">Saab - (123543)</option>
      <option value="mercedes">Mercedes - (132432)</option>
      <option value="audi">Audi - (209821)</option>
    </select><br>
    Marca:<br>
    <input type="text" name="lastname"><br>
    Modelo:<br>
    <input type="text" name="lastname"><br>
    Combustível:<br>
    <input type="text" name="lastname"><br>
    Portas:<br>
    <input type="text" name="lastname"><br>
    Ano de Fabricação:<br>
    <input type="text" name="lastname"><br>
    Ano do Modelo:<br>
    <input type="text" name="lastname"><br>
    Número de Passageiros:<br>
    <input type="text" name="lastname"><br>
    Chassi:<br>
    <input type="text" name="lastname"><br>
    Renavam:<br>
    <input type="text" name="lastname"><br>
    Nome do Condutor:<br>
    <input type="text" name="lastname"><br>
    Classe:<br>
    <input type="text" name="lastname"><br>
  </form> 
</div>

<!-- Formulário  -->
<div class='formulario'>
  <h4>Dados Franquia</h4>
  <form>
    Tipo de Franquia:<br>
    <select>
      <option value="123456">Compreensivo</option>
      <option value="789012">Outro</option>
    </select><br>
    Cobertura:<br>
    <input type="text" name="lastname">
  </form> 
</div>

